<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/CSS/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/SPA/dataService.js"></script>
    <script src="~/SPA/Controller/mainController.js"></script>
    <script src="~/SPA/Controller/productController.js"></script>
    <script src="~/SPA/app.js"></script>
    <script src="~/SPA/dataService.js"></script>
</head>
<body ng-controller="mainController">

    @*nav bar starts*@
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Product Catalog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                    <form class="navbar-form">
                        <div class="form-group">
                            <input id="search" type="text" class="form-control" placeholder="Search" ng-model="searchTerm">
                        </div>
                    </form>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/product">Product</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    @*nav bar ends*@

    <div class="text-center" id="content-view" ng-view="productController">
    </div>

</body>
</html>
